.room{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 0px;
    cursor: pointer;
    width:30%;
    text-transform: capitalize;
}
.sidebarContainer{
    padding:10px;
}
.member{
    display: flex;
    align-items: center;
    gap:20px;
    margin:24px 0px;
    cursor: pointer;
}
.imageWrapper>img{
    width:30px;
    height:30px;
    border-radius: 50%;
    object-fit: cover;
}
.imageWrapper{
    position: relative;
    display: flex;
    align-items: center;
    gap:10px;
}
.members{
    height:40vh;
    overflow: auto;
    width:80%;
    padding:0px;
    margin:0px;
}
.imageWrapper>.status{
    position: absolute;
    top:0px;
    right:2px;
    width:6px;
    height:6px;
    border-radius: 50%;
    background-color: green;
}
.imageWrapper>.status.offline{
    background-color: grey;
}
.member:disabled{
    cursor: not-allowed;
}
